@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Oswald:wght@700&family=Tajawal:wght@200&display=swap');

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    /* padding: 0rem -29rem; */
    box-shadow: 1px 1px 15px #888888;
}

button {
    outline: none;
    border: none;
    padding: 0.4rem 0.8rem;
    border-radius: 0.2rem;
    box-shadow: 1px 1px 8px #888888;
    background-color: #000033;
    color: #ffffff;
}