@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');

section {
    width: 80%;
    /* background-color: darkolivegreen; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    height: auto;
}

.heading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    border-bottom: 0.3rem solid black;
}

.para {
    color: black;
    font-size: 0.8rem;
    margin: -1rem 0 0 0;
    color: #000033;
}

.Link {
    text-decoration: none;
    margin: 0 0 0 0rem;
    font-weight: bold;

}

.data {
    width: 22rem;
    height: 4rem;
    background-color: #f2f4f6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

span {
    margin: 0 0.5rem;
    background-color: #ffffff;
    padding: 0.8rem;
    border-radius: 50%;
}

.data p {
    font-size: 1.2rem;

}

.booking-section {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.data:hover {
    background-color: #ccd3dc;
    border-bottom: 0.2rem solid #000033;
}

.cards {
    width: 100%;
    margin: 1rem auto;
    /* background-color: rgb(221, 129, 24); */
    height: auto;
    /* padding: 1rem 0; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
    width: 20rem;
    height: auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: white;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 0.7rem;
}

.card img {
    width: 18rem;
    height: 15rem;
    margin: 1rem 0 0 0;
}

.card-head {
    color: #000033;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0 0 1rem;
}

.card-data {
    font-family: 'Cairo', sans-serif;
    margin: 0 1.1rem 0 1.1rem;
    text-align: justify;
    font-size: 0.7rem;
}

.btn {
    background-color: transparent;
    border: 0.1rem solid #000033;
    color: #000033;
    width: 9.5rem;
    height: 2.5rem;
    box-shadow: none;
    cursor: pointer;
    /* display: flex; */
    margin: 1rem 0 0.5rem 1rem;
}